:root {
  --primary-color: #cdd6f4;
  --background-color: #1e1e2e;
  --highlight-color: #f38ba8;
  --mantle: #181825;
  --overlay0: #6c7086;
  --text-color: #cdd6f4;
}

@define-color background #1e1e2e;
@define-color foreground #cdd6f4;
@define-color cursor #dfdecf;
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #A6E3A1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;

window#osd {
  border-radius: 1px;
  border: 2px solid var(--overlay0);
  background: alpha(var(--mantle), 1);
  #container {
    margin: 16px;
  }

  image,
  label {
    color: var(--primary-color);
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar,
  segmentedprogress {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }

  trough,
  segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(var(--primary-color), 0.5);
  }

  progress,
  segment.active {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: var(--primary-color);
  }

  segment {
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}
