@import url("catppuccin-mocha.css");

/*
$subtext1 = rgb(bac2de)
$subtext1Alpha = bac2de

$subtext0 = rgb(a6adc8)
$subtext0Alpha = a6adc8

$overlay2 = rgb(9399b2)
$overlay2Alpha = 9399b2

$overlay1 = rgb(7f849c)
$overlay1Alpha = 7f849c

$overlay0 = rgb(6c7086)
$overlay0Alpha = 6c7086

$surface2 = rgb(585b70)
$surface2Alpha = 585b70

$surface1 = rgb(45475a)
$surface1Alpha = 45475a

$surface0 = rgb(313244)
$surface0Alpha = 313244

$base = rgb(1e1e2e)
$baseAlpha = 1e1e2e

$mantle = rgb(181825)
$mantleAlpha = 181825

$crust = rgb(11111b)

$crustAlpha = 11111b
*/

* {
  font-size: 16px;
  font-family: "JetBrainsMonoNL Nerd Font Propo";
}

window#waybar {
  all: unset;
}

.modules-left {
  padding: 7px;
  margin: 5px 0px 0px 5px;
  border-radius: 2px;
  background: alpha(@background, 0.5);
}

.modules-center {
  padding: 7px;
  margin: 5px 0px 0px 5px;
  border-radius: 2px;
  background: alpha(@background, 0.9);
}

.modules-right {
  padding: 7px;
  margin: 5px 0px 0px 5px;
  border-radius: 2px;
  background: alpha(@background, 0.5);
}

tooltip {
  background: @background;
  color: @text;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#custom-vpn:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  transition: all 0.1s ease;
  color: @red;
}

#custom-notification {
  padding: 0px 5px;
  transition: all 0.1s ease;
  color: @text;
}

#custom-vpn {
  padding: 0px 5px;
  transition: all 0.1s ease;
  color: @text;
}

#clock {
  padding: 0px 5px;
  color: @text;
  transition: all 0.1s ease;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@text, 0.9);
}

#workspaces button:hover {
  color: @red;
  border: none;
  transition: all 0.1s ease;
}

#workspaces button.active {
  color: alpha(@red, 0.7);
  border: none;
}

#workspaces button.empty {
  color: alpha(@text, 0.3);
  border: none;
}

#workspaces button.empty:hover {
  color: alpha(@red, 0.7);
  border: none;
  transition: all 0.1s ease;
}

#workspaces button.empty.active {
  color: alpha(@red, 0.7);
  border: none;
}

#bluetooth {
  padding: 0px 5px;
  transition: all 0.1s ease;
  color: @text;
}

#network {
  padding: 0px 5px;
  transition: all 0.1s ease;
  color: @text;
}

#battery {
  padding: 0px 5px;
  transition: all 0.1s ease;
  color: @text;
}

#battery.charging {
  color: @green;
}

#battery.full {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#group-expand {
  padding: 0px 10px;
  transition: all 0.1s ease;
}

#custom-expand {
  padding: 0px 5px;
  color: alpha(@foreground, 0.2);
  transition: all 0.1s ease;
}

#custom-expand:hover {
  color: @red;
}

#cpu,
#memory,
#temperature {
  padding: 0px 5px;
  transition: all 0.1s ease;
  color: @text;
}

#custom-endpoint {
  color: alpha(@text, 0.6);
}

#tray {
  padding: 0px 5px;
  transition: all 0.1s ease;
}

#tray menu * {
  padding: 0px 5px;
  transition: all 0.1s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.1s ease;
}
