@define-color background #1e1e2e;
@define-color foreground #cdd6f4;
@define-color cursor #dfdecf;
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #A6E3A1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-family: "JetbrainsMonoNL Nerd Font Propo";
  font-size: 15px;
}

window {
  border: 3px solid @peach;
}

#input {
  margin-bottom: 15px;
  padding: 3px 10px;
  border: none;
  color: @text;
}

#input:focus {
  outline: none;
  border: none;
  background-color: #000000;
  box-shadow: none;
}

#inner-box {
  background-color: @base;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  background-color: @base;
}

#text {
  padding: 5px;
  color: @text;
}

#entry {
  padding: 10px;
  color: @yellow;
}

#entry:selected {
  background-color: #111111;
  outline: none;
}
